# Sourcecodes
__pycache__/
*.pyc
*.py

# PyPI
dist/
build/
*.egg-info/
*.manifest
keras-contrib/

# Temporal
tmp/
*.tmp
~*

# Jupyter notebook
*.ipynb
.ipynb_checkpoints/

# Data
*.json
*.sql
*.dill
*.pk
*.h5
*.bmp

# Materials
*.zip
*.ppt
*.pptx
*.bin
*.html
*.mp4

# Images
*figure*
*.tif

# Documents
documents/
*.dot

# Help
*JW*